*{
    box-sizing: border-box;
}
body{
    margin-left: 25%;
    margin-right: 25%;
    
}
.logHe {
    display: inline-block;
}
#font1{
    font-family: 'Yellowtail', cursive;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: -10px;
}
#color1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #a3a375;
    font-size: 8px;
}
.logHe .parConter{
    display: inline-block;
}
.iconLi {
    display: inline-block;
    float:right;
    
}

ul li{
    /* display: flex; */
    list-style: none;
    display: inline;
    /* margin-left: 5%; */
    /* padding-left: 15px; */
    /* margin-right: -278px; */
}
/* nav ul{
    
} */

/* li{
    padding-left: 18px;
    /* right: 0px; */
    /* display:grid; */
/* grid-template-columns:auto 25%; }*/


hr{
    height: 5px;
    background-image: url('../image/hr-img\ \(1\).png');
}
article{
    display:block;

}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
#color2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #a3a375;
}
.divArti2 {
  /* margin-right:  0px;
       /* justify-content: right; */
       /* display: flex; */
       width: 40px;
       align-items: center;
       position: absolute;
       top: 17%;
       left: 69%;
       font-family:Georgia, 'Times New Roman', Times, serif;
        color: #a3a375;
        font-size: 8px;
        /* float: right; */
        /* display: inline-block;  */
}

/* .inside .inside2{
    display: inline-block;
} */

#chPi{
    width: 100%;
}
.fontP{
font-family: Georgia, 'Times New Roman', Times, serif;
color: #a3a375;


}
.checkBox{
    background-image: url('../image/list-bg.png');
    opacity: 1;
    margin-bottom: 44px;
    box-shadow: -3px 9px 24px -15px #3C415C;
    
    /* opacity: 0,77px; */
    
}
.mainDiv{
    display:inline-block;
    
   
}
.list1,
.list2{
    font-family: Comic Sans MS, Comic Sans, cursive;
    display: inline-block;
}

.blogInf{
    width:75%;
    position: relative;
}
.blogPic{
    display: inline-block;
}
#bottom{
    position: absolute;
      
}

.innerDiv{
    width: 50%;
    display: inline-block;
}
.innerDiv2{
    padding: 14px;
    margin-top: 2px;
}
button{
    height: 30px;
    width: 150px;
    background-color: #D83A56;
    color: aliceblue;
    font-family: Courier New, monospace;
    float: right;
    position: absolute;
    top: 100px;
    right: 10px;
}

footer{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #a3a375;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
}
/*note: to add picture inside hr use opcity for picture and put abbove lin */
.footClas{
   text-align: center;
    /* margin-left: 25%;
    margin-right: 25%; */
}
/* .footClas img{
    margin-left: auto;
    margin-right: auto;
} */